.button-area {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button-area button {
  background: gold;
  border: none;
  color: black;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-area button:hover {
  background: #222;
  color: gold;
}
